*{
margin: 0;
padding: 0;
}
.wrapper{
width: 1170px;
margin: auto;    
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(155, 155, 155, 0.6)),url("C:/Users/Becky/Desktop/background.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover; 
    background-position: center center;
    position: relative;
}
.nav-area{
    float: left;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
.logo img{
    width: 150x;
    float: left;
    height: auto;
}
.logo img:hover{
    background: #fff;
    color: #333
    ;
}
.welcome-text{
    position: absolute;
    widows: 60px;
    height: 300px;
    margin: 20% 30%;
    text-align: center
}
.welcome-text h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
}
.welcome-text a{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}
.welcome-text h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: end;
    position: static;
}
.name{
    position: absolute;
    margin: 45% 5%;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name:hover{
    background: rgb(153, 153, 153);
    color: #333;
}